html, body{
	width:100%; 
	height:100%; 
	padding:0px; 
	margin:0px;
	overflow: hidden;
  background-attachment: fixed;
  background-color: #000d37;
  animation: color-change 30s infinite;
}

@keyframes color-change {
  0%{
    background-color: #000d37;
  }
  33%{
    background-color: #0b0820;
  }
  67%{
    background-color: #00151f;
  }
}

#projector {
  position: absolute; 
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
} 

.center-div {
	width:580px;
    height:374px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -290px;
    margin-top:  -187px;
}

.rrss-logo{
  max-width: 30px;
}

.linkedin{
  max-width: 36px;
}

.email{
  max-width: 34px;
}

.title {
    font-family: 'Lexend Giga', sans-serif;
    color: rgb(244, 245, 255);
    font-size: 3em;
  }

@media (max-width: 600px) {

    .title {
        font-family: 'Lexend Giga', sans-serif;
        color: #f2f2f2;
        font-size: 2.5em;
      }

}

  .sub-title{
    font-family: 'Lexend Giga', sans-serif;
    color: rgb(170, 170, 170);
    font-size: 0.9em;
    padding-top: 20px;

  }

  .dot{
      color: #34ff60bd;
  }

  